<div style="margin-top:10%;"> {{ (af.auth | async)?.uid }} </div>
<div class="container-admin-login">


	

				<div class="loginAdminForm mdl-card mdl-shadow--6dp">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
				<h2 class="mdl-card__title-text">Geopark hallintapaneeli</h2>
			</div>
	  	<div class="mdl-card__supporting-text">
				

				 <mdl-textfield id="route_name" type="text" label="Sähköposti" [(ngModel)]="email" floating-label autofocus></mdl-textfield>
				  
				 <mdl-textfield id="route_name" type="password" label="Salasana" [(ngModel)]="password" floating-label autofocus></mdl-textfield>

			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button (click)="emailLogin()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Kirjaudu sisään</button>
			</div>
		</div>
		</div>
		

			

