 <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<!-- Always shows a header, even in smaller screens. -->

       <router-outlet></router-outlet>
    
 

   

  <!--  <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>    -->
<!--
    <footer>
      <span>WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a></span>
      <div>
        <a [href]="url">
          <img [src]="angularclassLogo" width="25%">
        </a>
      </div>
    </footer>

-->