<button #editUserButton mdl-button mdl-button-type="raised" mdl-colored="primary"
        mdl-ripple (click)="editUserDialog.show()">Edit User Dialog</button>


<mdl-dialog #editUserDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '300px'},
              isModal:true,
              openFrom: editUserButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"
              (show)="onDialogShow(dialogRef)"
              (hide)="onDialogHide()"
           >
  <h3 class="mdl-dialog__title">Aseta uusi piste</h3>
  <div class="mdl-dialog__content">
    <mdl-textfield type="text" label="Nimi" [(ngModel)]="name" floating-label autofocus></mdl-textfield>
    <mdl-textfield type="text" label="Info" [(ngModel)]="info" floating-label autofocus></mdl-textfield>
    <input type="file" label="Image" (change)="readFile($event)"  floating-label autofocus/>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button (click)="savePoint()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
    <button mdl-button (click)="editUserDialog.close()" mdl-ripple>Cancel</button>
  </div>
</mdl-dialog>