<div id="googleMap" style="width:500px;height:380px;"></div>
  
<!--<ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.$key}} {{item.info}}  {{item.lat}}  {{item.lng}}
    </li>
</ul>-->

<div> {{ guideTxt }} </div>
<!-- Colored raised button -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="UusiKohde('Lisää uusi kohde.')">
  Tee uusi kohde
</button>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="FinalSave()">
  Tallenna kohteet
</button>

<button style="display:none" id="open" #editUserButton mdl-button mdl-button-type="raised" mdl-colored="primary"
        mdl-ripple (click)="editUserDialog.show()">Edit User Dialog</button>



<mdl-dialog #editUserDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '300px', 'height': '70vh', 'overflow': 'scroll'},
              isModal:true,
              openFrom: editUserButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"
            (show)="onDialogShow(dialogRef)"
            (hide)="onDialogHide()">
  <h3 class="mdl-dialog__title">Anna pisteen tiedot</h3>
  <div class="mdl-dialog__content">

  <!-- SELECT -->
  <label for="singleSelect"> Kategoriat: </label><br>
  <select class="selectbox" [(ngModel)]="target_category" >
    <option *ngFor="let c of categories  | async" value="{{c.$value}}" >{{c.$value}}</option>
  </select>
  <div class="helpers" *ngIf="editedCat">Valitse kategoria!</div>

    <mdl-textfield type="text" id="nameasd" label="Nimi" [(ngModel)]="target_name" floating-label autofocus></mdl-textfield>    
    <div class="helpers" *ngIf="editedNimi">Anna nimi!</div>
    <mdl-textfield type="text" label="Lisäinfo" [(ngModel)]="target_info" floating-label autofocus></mdl-textfield>
    <div class="helpers" *ngIf="editedInfo">Anna lisäinfoa!</div><br>
    <input type="file" required id="uploadthisFILE" class="uploadthisFILE" label="Kuvalinkki"  (change)="onChange($event)"  floating-label autofocus>
    <div class="helpers" *ngIf="editedKuva"><br>Lisää kuva!</div>
    <mdl-textfield type="text" id="video" label="Videolinkki" [(ngModel)]="target_video" floating-label autofocus></mdl-textfield>
    <div class="helpers" *ngIf="editedVideo">Anna videon url!</div>
    <mdl-textfield type="text" label="Esikatselu etäisyys" [(ngModel)]="target_previewDistance" floating-label autofocus></mdl-textfield>
    <div class="helpers" *ngIf="editedDist">Anna esikatselu etäisyys (1 - 100km)!</div>
    <mdl-textfield type="text" label="Latitude" [(ngModel)]="target_latitude" floating-label autofocus disabled="true"></mdl-textfield>
    <mdl-textfield type="text" label="Longitude" [(ngModel)]="target_longitude" floating-label autofocus disabled="true"></mdl-textfield>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button (click)="SaveNewLocationInfo()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
    <button id="closeBtn" mdl-button (click)="editUserDialog.close()" mdl-ripple>Cancel</button>
  </div>
</mdl-dialog>










