h1 {
	
}

h4 {
	text-align: center;
	color:white;
}

.contactContainer {
	    background: linear-gradient(135deg, #0a4b49, #0a4b49);
}

.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:white;


}

.mdl-textfield__label:after{
    background-color: white!important;
}