h1 {
	
}

h4 {
	text-align: center;
	color:white;
}

.contactContainer {
	width:80%;
	margin:auto;
}

.contactContainer .mdl-button {
	width:100%;
	background-color: #00b3b3;
}
.contactContainer .mdl-button.mdl-button--colored
{
	color:white;
}
.center {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:white;
}

.mdl-textfield__label:after{
    background-color: white!important;
}
.contact-header
{
	font-size: 26px;
	color:#00b3b3;
	padding-bottom:30px;
}