.sebm-google-map-container {
  height: 300px;
}

.category.container{
	width:100%;
	height:auto;
	background:red;
}

.category-item{
	width:50%;
	height:20vh;
	float:left;
}

.category-header{
	text-align: center;
	font-size:26px;
}

.category-img{
	width:80%;
	margin-left:10%;
	height:auto;
	border-radius:1000px;
}

.category-hint{
	color:lightgray;
}

