h1 {
  color: #00BCD4;
}

.mdl-layout__header {
	background-color: #00b3b3;
}

.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored {
	background-color: #00b3b3;
}
.mdl-button--primary.mdl-button--primary.mdl-button--raised, .mdl-button--primary.mdl-button--primary.mdl-button--fab {
	background-color: #00b3b3!important;
}