
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    
    <!-- SHITTY HEADERBAR -->
    <div class="mobile-header b-green">
        <div class="mobile-logo">
            <img class ="mobile-logo-img" src="../assets/img/logo.png" [routerLink]=" ['./home'] " routerLinkActive="active"/>
        </div>
    </div>

    <!-- NAVIGATION -->
    <nav class="nav nav__not-active">

        <!-- BURGER ICON (TOGGLE DROPDOWN ON/OFF) -->
        <div class="burger b-green" onclick="toggleMenu()">
            <div class="burger__patty"></div>
        </div>

        <!-- DROPDOWN -->
        <ul class="nav__list b-green">
            <li class="nav__item" [routerLink]=" ['./home'] " routerLinkActive="active">
                <a class="nav__link b-green">
                    <img src="../assets/img/Etusivukota.svg" height="42" width="42">
                </a>
            </li>

            <li class="nav__item" [routerLink]=" ['./map'] " routerLinkActive="active">
                <a class="nav__link b-green">
                    <img src="../assets/img/Reitit.svg" height="42" width="42">
                </a>
            </li>

            <li class="nav__item" [routerLink]=" ['./contact'] " routerLinkActive="active">
                <a class="nav__link b-green">
                    <img src="../assets/img/Contact.svg" height="42" width="42">
                </a>
            </li>

            <li class="nav__item" [routerLink]=" ['./logout'] " routerLinkActive="active">
                <a class="nav__link b-green">
                    <img src="../assets/img/ico6.png" height="42" width="42">
                </a>
            </li>
        </ul>
    </nav>

    <main  class="mdl-layout__content">
        <div class="page-content">
            <router-outlet>
                
            </router-outlet>
        </div>
    </main>
</div>

