<div style="margin-top:10%;"> {{ (af.auth | async)?.uid }} </div>

<div class="login-wrap">

	<H1 style="text-align:center">Forgot Password</H1>

	<div class="login-form">
				
		<div class="sign-in-htm">

			<br>	
			<div class="errorMsg">{{errorMsg}}</div>
			<div class="group">
				<label for="user" class="label">Email</label>
				<input id="user" [(ngModel)]="email" type="text" class="input">
			</div>
							
		
							
			

			<br>

			<div class="group">
				<input type="button" (click)="resetPassword()" class="button" value="Sign In"/>					
			</div>
				
			<br>

			

			
					
		</div>
					
		<br>	
		<br>
		
		<div class="sign-up-htm">
						
			<div class="group">
				<label for="question1" class="label">"What is the Geo Park App?"</label>
				<label for="answer1" class="label">Best App ever</label>							
			</div>
			<!--			
			<div class="group">
				<label for="question2" class="label">"Question?"</label>
				<label for="answer2" class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac nisl sodales, dictum nunc in, vulputate turpis. Pellentesque ex leo, ultrices ut cursus pulvinar, accumsan in ex. Nullam dapibus commodo sagittis.</label>
			</div>
			-->
					
		</div>
			
	</div>
</div>

