<style>

.kohdepiste-img-header
{
	background: center / cover;
}

</style>


<div style="back" class="infoContainer">
	<div class="infoImgContainer">
		<img class="infoImg" src={{info.img}}>
		<div class="infoHeader">
			<div class="infoName">
				{{info.name}}
			</div>
			<div class="infoCategory">
				{{category}}
			</div>
		</div>
	</div>
	<div class="infoContent">
		{{info.info}}
	</div>
	<div class="infoBack">
		<a href="javascript:history.back()">
			<img src="/assets/img/back.png"/>
		</a>
	</div>
</div>




